/* Roboto Flex
/* Variant 1: Every glyph, every axis, one big file */
/* - Download TTF font from https://github.com/googlefonts/roboto-flex */
/* - Convert TTF to WOFF2 using any converter tool */
/*
@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400 1000;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/RobotoFlex.woff2") format('woff2-variations');
}
*/

/* Variant 2: Splitted glyphs, selected axes, multiple moderatly sized files */
/* - Download CSS with selected axes https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,GRAD,YTFI@8..144,118,100..1000,-200..150,710&display=swap
/* - Downlaod fonts of src attributes of resulting CSS and edit file names accordingly */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400..1000&display=swap');
